.contact-modal {
  &__content {
    margin-bottom: 24px;
  }

  &__contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-item {
      display: flex;
      align-items: flex-start;
      gap: 16px;
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &-title {
      //font: 700 42px/1 var.$font-family-inter;
      //color: var.$text-color;
      line-height: 90%;

      a {
        color: inherit;
        text-decoration: none;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &-description {
      max-width: 300px;
      //font: 200 18px/1.2 var.$font-family-inter;
      //color: var.$text-color;
      opacity: 0.85;
    }
  }

  &__button {
    text-align: center;
  }

  &__telegram-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    //background-color: var.$primary-color;
    flex-shrink: 0;
  }

  &__telegram-icon {
    filter: brightness(0) saturate(100%) invert(8%) sepia(0%) saturate(0%) hue-rotate(0deg);
  }
}

//@include mixin.respond('tablet') {
//  .contact-modal__contact-list-title {
//    font-size: 28px;
//  }
//}
//
//@include mixin.respond('mobile') {
//  .contact-modal__contact-list-title {
//    font-size: 22px;
//  }
//}
